body{
	background-color: #87CEFA; /*Cor para background - Amarelo*/
}

/*--------- Logo -----------*/
.my-logo{
	z-index: 1;
	position: relative;
	float: left;
	margin: 30px 0 -30px 0;
}

.my-logo h1{
	color: #fff;
	font-family: Arial;
	font-weight: bold;
	font-size: 95px;
}

.my-logo span{
	color: #8c7922;
	font-weight: normal;
	margin-left: -25px;
}

.my-logo h5{
	color: #fff;
	font-weight: normal;
	font-size: 24px;
	margin: 45px 0 -25px 0;	
}

/*--------- Posicionamento do Menú -----------*/
nav{
	margin: 50px 0 -50px 0;
}

/*--------- Fone no Header -----------*/
.my-fone img{
	margin: -90px 0 0 0;
	z-index: 0;
	position: absolute;
	width: 768px;
}

/*--------- Corpo do HTML - Header -----------*/
.my-corpo{
	z-index: 1;
	position: relative;
	margin-top: 20px;
}

.my-corpo h3{
	color: #fff;
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 28px;
}

.my-corpo span{
	color: #fff;
	font-weight: normal;
	font-size: 22px;
}

.my-corpo p{
	color: #8c7922;
	font-size: 20px;
	font-weight: normal;
	margin: 10px 0 20px 0;
}

/*--------- Breads - Header -----------*/
.my-bread{
	margin: 150px 0 0 0;
}

/*--------- Logo inferior - Footer -----------*/
.my-footer{
	margin: 45px 0 0 1060px;
}

.my-footer h4{
	color: #fff;
	font-family: Arial;
	font-weight: bold;
	font-size: 35px;
}

.my-footer span{
	color: #8c7922;
	font-weight: normal;
	margin-left: -6px;
}

.my-footer p{
	color: #fff;
	font-size: 15px;
}