body{
	background-color: #f2d13e; /*Cor para background - Amarelo*/
}

.my-logo{
	z-index: 1;
	position: relative;
}

.my-logo h1{
	color: #fff;
	font-family: Arial;
	font-weight: bold;
	font-size: 70px;
}

.my-logo span{
	color: #8c7922;
	font-weight: normal;
}

.my-logo h5{
	color: #fff;
	font-weight: normal;
}

.my-fone img{
	margin: -90px 0 0 0;
	z-index: 0;
	position: absolute;
	width: 768px;
}

.my-corpo{
	z-index: 1;
	position: relative;
}

.my-corpo h3{
	color: #fff;
	font-size: 50px;
}

.my-corpo span{
	color: #8c7922;
	font-weight: bold;
	font-size: 18px;
}

.my-corpo p{
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	padding: 20px 0 20px 0;
}

.my-corpo button{
	padding: 15px 25px 15px 25px;
	background: #8c7922;
	color: #fff;
	font-size: 28px;
	font-weight: bold;
}